body{
  height:3000px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  }
  .left-side-info{
    display:flex;
    align-items:center;
   
  }
  .profile-picture{
  height:50px;
  width:50px;
  border-radius:25px;
}
.right-side-buttons{
  display:flex;
  align-items:center;
}
.name{
  margin-left:6px;
  font-weight:bold;
  font-family:arial;
  font-size:14px;
}
button{
  border:none;
  border-radius:4px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:14px;
  padding-right:14px;
  font-size:16px;
  font-weight:bold;
  margin-right:6px;
}
.add-friend{
  background-color:rgb(83, 83, 207);
  color:white;
}
.message{
   background-color:rgb(222, 217, 217);
   color:black;
}